{%  extends "main/base.html" %}



{% block title %}
Description list
{% endblock %}

{% block content %}
    <div class="h2">
        Descriptions
    </div>
     <br>

        <a href="/api/descriptions/create/" class="create_button">Create new Description </a>

    <div class="card_group">
       {% for p in list %}
            <div class="card_item">
                <a href="/api/descriptions/{{ p.id }}/" class="list-group-item list-group-item-action flex-column align-items-start card_item_link">
                      {% if p.picture %}
                    <img class="card_img_top" src="{{ MEDIA_URL }}{{p.picture }}" alt="Card image cap">
                    {% endif %}
                      <h5 class="card_title">{{ p.name }}</h5>

                      <div class="card_text"><p >{{ p.text }}</p></div>
                      <p class="card_timestamp"><small >{{ p.created_at }}</small></p>

                    <a href="/api/descriptions/{{ p.id }}/delete/" class=" btn_delete" type="button"
                            data-toggle="tooltip" data-placement="top" title="Delete">Delete</a>

                </a>
            </div>
        {% endfor %}
    </div>





{% endblock %}

