{%  extends "main/base.html" %}



{% block title %}
Post list
{% endblock %}

{% block content %}
    <div class="h2">
        Writings
    </div>
    <br>
    <a href="/api/post/create">  <div class="col-md-3 border-right">Create new post</div>  </a>
    <div class="list-group">

    {% for p in list %}
  <a href="/api/post/{{ p.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ p.name }}</h5>
      <small>{{ p.created_at }}</small>
    </div>
    <p class="mb-1">{{ p.text }}</p>
      {% if p.public == True %}
    <small>public</small>
        {% else %}
    <small>private </small>
    {% endif %}
    <a href="/api/post/{{ p.id }}/delete" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete</a>
  </a>

    {% endfor %}
        </div>


{% endblock %}
