{%  extends "main/base.html" %}



{% block title %}
Music Album list
{% endblock %}

{% block content %}
    <div class="h2">
    Music
</div>
        <br>

        <a href="/api/music/create/" class="create_button">Create new Album </a>



       <div class="card_group">
           {% for p in list %}

            <div class="card_item">
                <a href="/api/music/{{ p.id }}/" class="list-group-item list-group-item-action flex-column align-items-start card_item_link">
                      {% if p.cover %}
                    <img class="card_img_top" src="{{ MEDIA_URL }}{{p.cover }}" alt="Card image cap">
                    {% endif %}
                      <h5 class="card_title">{{ p.title }}</h5>

                      <div class="card_text"><p >{{ p.description }}</p></div>
                      <p class="card_timestamp">{{ p.created_at }}</p>
                <a href="/api/music/{{ p.id }}/delete/" class="btn_delete" type="button"
                        data-toggle="tooltip" data-placement="top" title="Delete">Delete</a>

                </a>
            </div>
            {% endfor %}
        </div>

{% endblock %}