{%  extends "main/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
        Edit Album
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="h2">
            Edit Album
    </div>

    <div><img class="card-img-top" src="{{ MEDIA_URL }}{{album.thumbnail }}" alt="Card image cap"></div>
    <form method="post" action="/api/travels/{{ form.id }}/" class="form-group" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy }}


            <button type="submit", name="save" class="btn btn-success">
                Save changes
            </button>
    </form>

        <hr style="border-top: 1px solid #8c8b8b">



    <div class="h5">

        Album pictures :
    </div>
           <div class="card_group">

    {% for p in album.pictures.all %}
        <div class="list-group-item list-group-item-action flex-column align-items-start card_item_link">
          <div class="card_item">
                  <a href="/api/travels/pic/{{ p.id }}/">
            <img class="card_img_top" src="{{ MEDIA_URL }}{{ p.photo }}" alt="Card image cap">
            </a>

        <p class="card_caption">{{ p.caption }}</p>
       <a href="/api/travels/{{ p.id }}/deleteImg/" class="btn_delete" type="button">Delete</a>
</div>
               </div>
    {% endfor %}
           </div>
    <div class="h3">
            Add pictures to this album
    </div>
    <form method="post" action="/api/travels/{{ form.id }}/addImage/" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}

        {{ picForm|crispy }}
        <button type="submit", name="save" class="btn btn-success">
                Add
        </button>
    </form>

{% endblock %}