{%  extends "main/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
        Edit Album
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="h2">
            Edit Album
    </div>

    <div><img class="card-img-top" src="{{ MEDIA_URL }}{{album.thumbnail }}" alt="Card image cap"></div>
    <form method="post" action="/api/travels/{{ form.id }}" class="form-group" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy }}


            <button type="submit", name="save" class="btn btn-success">
                Save changes
            </button>
    </form>

        <hr style="border-top: 1px solid #8c8b8b">
    <div class="h4"> Album tags :</div>
    {% for t in album.picturetag_set.all %}
    <div class="btn btn-outline-primary">
       {{  t.val }}
    </div>
    {% endfor %}
 <br>
    <br>
    <div class="h5">

        Add new Tag
    </div>

    <form method="post" action="/api/travels/{{ form.id }}/addTag" class="form-group">
        {% csrf_token %}
        {{ tagForm|crispy }}
            <button type="submit", name="save" class="btn btn-success">
                Add
            </button>

    </form>
        <hr style="border-top: 1px solid #8c8b8b">



<div class="h5">

        Album pictures :
    </div>
           <div class="card-group">

    {% for p in album.picture_set.all %}
          <div class="card">
              {% if p.photo %}
                  <a href="/api/travels/pic/{{ p.id }}">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ p.photo }}" alt="Card image cap">
            </a>
              {% endif %}

        <p class="card-text">{{ p.caption }}</p>
       <a href="/api/travels/{{ p.id }}/deleteImg" class="btn btn-danger btn-sm rounded-0" type="button">Delete</a>

               </div>
    {% endfor %}
           </div>
    <div class="h3">
            Add pictures to this album
    </div>
    <form method="post" action="/api/travels/{{ form.id }}/addImage" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}

        {{ picForm|crispy }}
        <button type="submit", name="save" class="btn btn-success">
                Add
        </button>
    </form>

{% endblock %}